@import '../../../../../variables.scss';

.pay-button {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-bottom: -16px;
  margin-top: 18px;
  background: $color-blue;
}

.progress {
  margin-top: 4px;
}

.margin-top{
  margin-top: $margin-top-text;
}